[submodule "hypoclient"]
	path = hypoclient
	url = https://github.com/mohankumarkandavel/hypoclient.git
[submodule "HypoServer"]
	path = HypoServer
	url = https://github.com/mohankumarkandavel/HypoServer.git
[submodule "HypoTest"]
	path = HypoTest
	url = https://github.com/mohankumarkandavel/HypoTest.git
[submodule "fejoa"]
	path = fejoa
	url = https://gitlab.com/czeidler/fejoa.git
